# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Builds
dist/
build/
.out/
.next/
.nuxt/

# Env & secrets
.env
*.env
.env.*

# IDE/OS
.vscode/
.idea/
.DS_Store

# Coverage
coverage/
